body {
  background-color: #8FBDD3;
  min-height: 70vh;
  padding: 0;
  margin:0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  /* font-size: 130%; */
}
.main-header{ 
  background-color:#314E52 ;
  width:100%;
  margin: 0 0 30px 0;
  display:flex;
  justify-content:space-between;
  border-bottom: 20px solid #000000;
  border-bottom-left-radius: 300px;
  color: white;
}
.main-title{ 
  width:30%;
 
}
.app-title{ 
  display: flex;
  align-items: center;
  color:#F2A154;
}

.app-info{ 
  background-color: #F2A154;
  border-left: 10px solid white;
  border-top-left-radius: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  padding: 0 10px 0 10px;
  
}
.app-info h3{ 
  color: #314E52;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  font-size: 20px;
}

.container {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  background: #E7E6E1;
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.heading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #314E52;
  color: white;
  font-size: 1.5rem;
}

.form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #314E52;
  font-family: "Architects Daughter", cursive;
  font-size: 1.5rem;
  color: hsla(0, 0%, 0%, 0.7);
  width: 80%;
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #ffeaa7;
}
button span {
  background: #F2A154;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}

li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}